.extra-field {
    clear: both;
    margin-bottom: 8px;
    padding: 10px 0;

    hr {
        border: 0;
        border-top: 1px solid #dfdfdf;
        margin: 10px 15px;
    }

    .close-icon {
        display: block;
        float : right;
    }

    .btn {
        margin: 8px 0;
    }
}