//Sidebar colors
$border : #3486c9;
$text-sidebar : #fff;


//header
$icon-color : #fff;

//colors
$main-color: #ffa800;

$menu-color: #ff9300;
$main-hover : darken($menu-color, 1%);


$blue: #025ea9;
$black : #222629;
$light-gray: #eeeeee;

$green : #217345;

$primary : #009688;//#2196f3;
$text-color : #fff;