<div class="main">
<div id="loaderDiv" loader class="hide">
    <ul class="loading">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-right">
					<a data-ng-click="changeLang('pt-br')"><img src="assets/img/br-flag.png" class="img-flag-login" alt=""></a>
					<a data-ng-click="changeLang('en-us')"><img src="assets/img/eua-flag.png" class="img-flag-login" alt=""></a>
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid forgot-password">
		
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>{{'changePassword.title' | translate}}</h2> 
			</div>
			<div class="col-xs-12 col-md-4 col-md-push-4">
				<form>
					<div class="form-group">
						<label for="psw1">{{'changePassword.insert' | translate}}:</label>
						<input type="password" class="form-control" ng-model="newPassword" id="psw1" required> </div>
					<div class="form-group">
						<label for="psw2">{{'changePassword.confirm' | translate}}:</label>
						<input type="password" class="form-control" id="psw2" required> 
					</div>
						<button type="button" ng-click="changePassword()" class="btn btn-default" disabled>{{'changePassword.button' | translate}}</button>
				</form>
			</div>
			
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-push-4 col-md-4 password-rules">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><strong>{{'changePassword.titleRules' | translate}}</strong></h4></div>
					<div class="panel-body password-rules-body">
						<ul class="password-rules">
							<li id="letter" >
								<i class="fa fa-times letter" aria-hidden="true"></i>
								<i class="fa fa-check letter" aria-hidden="true"></i>
								{{'changePassword.rules.oneLetter' | translate}}
							</li>
							<li id="capital" >
								<i class="fa fa-times capital" aria-hidden="true"></i>
								<i class="fa fa-check capital" aria-hidden="true"></i>
								{{'changePassword.rules.capitalLetter' | translate}}
							</li>
							<li id="lowercase" >
								<i class="fa fa-times lowercase" aria-hidden="true"></i>
								<i class="fa fa-check lowercase" aria-hidden="true"></i>
								{{'changePassword.rules.lowerCase' | translate}}
							</li>
							<li id="space" >
								<i class="fa fa-times space" aria-hidden="true"></i>
								<i class="fa fa-check space" aria-hidden="true"></i>
								{{'changePassword.rules.noSpace' | translate}}
							</li>
							<li id="number" >
								<i class="fa fa-times number" aria-hidden="true"></i>
								<i class="fa fa-check number" aria-hidden="true"></i>
								{{'changePassword.rules.oneNumber' | translate}}
							</li>
							<li id="length" >
								<i class="fa fa-times length" aria-hidden="true"></i>
								<i class="fa fa-check length" aria-hidden="true"></i>
								{{'changePassword.rules.minLength' | translate}}
							</li>
							<li id="equal" >
								<i class="fa fa-times equal" aria-hidden="true"></i>
								<i class="fa fa-check equal" aria-hidden="true"></i>
								{{'changePassword.rules.passwordMatch' | translate}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>