<div ng-include="'application/views/templates/header.html'"></div>
<div ng-include="'application/views/templates/aside.html'"></div>
<div ng-include="'application/views/templates/loader.html'"></div>
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>{{'header.business.title' | translate}}</h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<button class="btn btn-primary btn-create" data-ng-click="businessCtrl.openModal()">
				<i class="fa fa-plus" aria-hidden="true"></i>
				{{ 'common.insert' | translate }} {{ 'header.business.title' | translate }}
			</button>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="card">
			<div class="row">
			
				<filter pagecontroller="businessCtrl" pagetranslator="business.filter."></filter>
			
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th> {{'common.actions' | translate}}</th>
										<th>
											<a ng-click="businessCtrl.pagination.setSortColumn('name')">{{'business.name' | translate}}  
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[businessCtrl.pagination.getListSortItens()['name']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="businessCtrl.pagination.setSortColumn('initials')">{{'business.initials' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[businessCtrl.pagination.getListSortItens()['initials']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="businessCtrl.pagination.setSortColumn('active')">{{'business.status' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[businessCtrl.pagination.getListSortItens()['active']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="businessCtrl.pagination.setSortColumn('lastModifiedDate')"> {{'common.lastModifiedDate' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[businessCtrl.pagination.getListSortItens()['lastModifiedDate']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="businessCtrl.pagination.setSortColumn('lastModifiedBy.fullName')"> {{'common.lastLogin' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[businessCtrl.pagination.getListSortItens()['lastModifiedBy.fullName']]" aria-hidden="true"></i>
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-toggle="modal" data-target="#myModal" ng-repeat="business in businessCtrl.pagination.items() | orderBy:name">
										<td>
											<button class="btn btn-default btn-circle" uib-tooltip="{{ 'button.edit' | translate }}" data-ng-click="businessCtrl.openModal(business)">
				                            <i class="glyphicon glyphicon-pencil"></i>
				                        </button>
											<button class="btn btn-default btn-circle" data-toggle="tooltip" data-original-title="{{'button.delete' | translate}}" data-ng-click="businessCtrl.openModalDelete(business)">
											<i class="fa fa-trash-o" aria-hidden="true"></i>
										</button>
										</td>
										<td> {{business.name}} </td>
										<td> {{business.initials}} </td>
										<td> {{'common.active.'+business.active | translate}} </td>
										<td> {{business.lastModifiedDate}} </td>
										<td> {{business.lastModifiedBy.fullName}} </td>
									</tr>
								</tbody>
							</table>

							<pagination pagecontroller="businessCtrl"></pagination>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>