<div ng-include="'application/views/templates/header.html'"></div>
<div ng-include="'application/views/templates/aside.html'"></div>
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>{{'header.modality.title' | translate}}</h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<button class="btn btn-primary btn-create" data-ng-click="modalityCtrl.openModal()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					{{ 'common.insert' | translate }} {{ 'modalitiesRegister.modality' | translate }}
				</button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="card">
			<div class="row">

				<filter pagecontroller="modalityCtrl" pagetranslator="modality.filter."></filter>
	
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th> {{'common.actions' | translate}}</th>
										<th>
											<a ng-click="modalityCtrl.pagination.setSortColumn('name');">{{'modality.name' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[modalityCtrl.pagination.getListSortItens()['name']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="modalityCtrl.pagination.setSortColumn('initials');">{{'modality.initials' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[modalityCtrl.pagination.getListSortItens()['initials']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="modalityCtrl.pagination.setSortColumn('active');">{{'modality.status' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[modalityCtrl.pagination.getListSortItens()['active']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="modalityCtrl.pagination.setSortColumn('lastModifiedDate');"> {{'common.lastModifiedDate' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[modalityCtrl.pagination.getListSortItens()['lastModifiedDate']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="modalityCtrl.pagination.setSortColumn('lastModifiedBy.fullName');"> {{'common.lastLogin' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[modalityCtrl.pagination.getListSortItens()['lastModifiedBy.fullName']]" aria-hidden="true"></i>
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-toggle="modal" data-target="#myModal" ng-repeat="modality in modalityCtrl.pagination.items() | orderBy:name" >
										<td>
											<button class="btn btn-default btn-circle" uib-tooltip="{{ 'button.edit' | translate }}" data-ng-click="modalityCtrl.openModal(modality)">
					                            <i class="glyphicon glyphicon-pencil"></i>
					                        </button>
					                        
											<button class="btn btn-default btn-circle" data-toggle="tooltip" 
													data-original-title="{{'button.delete' | translate}}" 
													data-ng-click="modalityCtrl.openModalConfirmation(modality)"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
										<td> {{modality.name}} </td>
										<td> {{modality.initials}} </td>
										<td> {{'common.active.'+modality.active | translate}} </td>
										<td> {{modality.lastModifiedDate}} </td>
										<td> {{modality.lastModifiedBy.fullName}} </td>
									</tr>
								</tbody>
							</table>
	
							<pagination pagecontroller="modalityCtrl"></pagination>
	
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
</main>