<div class="container-fluid">
	<div class="card nopadding">
				<!-- label> Search </label>
				<input type="text" class="form-control" ng-model="filterText" ng-change="filter()"-->

   	    <div class="filter-search">
            <div class="input-group">
            	<!-- dropdown -->
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">
                            {{'button.filter' | translate}}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in filterSelectedItems | filter : {show:1}">
                            <a id="_{{item.name}}" ng-click="setFilterSelected(item)">
								{{'user.filter.'+item.name | translate}}
                            </a>
                        </li>
                    </ul>
                </div>

				<!-- BEGIN - Input depend on select dropbox -->
                <input type="text" data-ng-model="filterSelectedValue" class="form-control"
					ng-show="filterSelected.type=='text'"
					placeholder="{{'user.filter.'+filterSelected.name | translate}}" ng-enter="applyFilter()"/>

   				<select class="form-control form-control-select"
   					ng-show="filterSelected.type=='select'"
   					class="form-control" id="_filterGeneric"
   					ng-options="_options.value as (_options.name | translate) for _options in filterSelected.options"
   					ng-model="filterSelectedSelectValue"
                       ng-enter="applyFilter()">
					<option value="">
                           {{'default.option' | translate}}
                           {{'user.filter.'+filterSelected.name | translate}}
                       </option>
				</select>
				<!-- END - Input depend on select dropbox -->
				
				<!-- Showing the filter already applied -->
                <span class="input-group-btn" ng-hide="filterSelected==undefined || filterSelected.type=='null'">
                    <button class="btn btn-default btn-search" type="button" ng-click="applyFilter()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div><!-- filter-search -->     
		<div class="filter-search filter-search-apply" ng-show="filterApplyed.length>0">
			<span class="filter-search-label">
				{{'common.filter' | translate}}
				({{filterApplyed.length}})
			</span>
			<div class="filter-search-result">
				<span class="filter-search-result-val" ng-repeat="val in filterApplyed">
					{{'user.filter.'+val.name | translate}}:
					<strong>
						{{'user.filter.'+val.value | translate}}
					</strong>
					<i class="filter-search-result-remove glyphicon glyphicon-remove"
					   uib-tooltip="{{'common.filterRemove' | translate}}"
					   ng-click="deleteFilterItem($index)"></i>
				</span>
			</div>
		</div>        
		<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr> 
					<th > {{'user.actions' | translate}}</th>
					<th> <a ng-click="sortBy('usrName')">{{'user.name' | translate}} </a>
					<i class="fa fa-angle-double-down" aria-hidden="true" ng-show="propertyName === 'usrName'" ng-class="reverse ? 'fa-rotate-180' : ''"></i>
					</th>
					<th> <a ng-click="sortBy('usr_role')">{{'user.role' | translate}}</a> 
					<i class="fa fa-angle-double-down" aria-hidden="true" ng-show="propertyName === 'usr_role'" ng-class="reverse ? 'fa-rotate-180' : ''"></i>
					</th>
					<th width="220"> <a ng-click="sortBy('email')">{{'user.email' | translate}} </a>
					<i class="fa fa-angle-double-down" aria-hidden="true" ng-show="propertyName === 'email'" ng-class="reverse ? 'fa-rotate-180' : ''"></i>
					</th>
					<th> <a ng-click="sortBy('usr_alter_dt')"> {{'user.changeDate' | translate}} </a> 
					<i class="fa fa-angle-double-down" aria-hidden="true" ng-show="propertyName === 'usr_alter_dt'" ng-class="reverse ? 'fa-rotate-180' : ''"></i>
					</th>
					<th> <a ng-click="sortBy('usr_last_lgin')"> {{'user.lastLogin' | translate}}  </a>
					<i class="fa fa-angle-double-down" aria-hidden="true" ng-show="propertyName === 'usr_last_lgin'" ng-class="reverse ? 'fa-rotate-180' : ''"></i>
					</th>
					<th> <a ng-click="sortBy('sts')">{{'user.status' | translate}} </a>
					<i class="fa fa-angle-double-down" aria-hidden="true" ng-show="propertyName === 'sts'" ng-class="reverse ? 'fa-rotate-180' : ''"></i>
					</th>				
				</tr>
			</thead>
			<tbody>
				<tr data-toggle="modal" data-target="#myModal" ng-repeat="user in users | orderBy:propertyName:reverse" >
					<td>
						<button class="btn btn-default btn-circle" data-toggle="tooltip" data-original-title="{{'user.edit' | translate}}"
							ng-click="edit(user.id)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default btn-circle" data-toggle="tooltip" data-original-title="{{'user.delete' | translate}}"
							ng-click="delete(user.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
					</td>
					<td> {{user.fullName}}  </td>
					<td>
						<ul>
							<li ng-repeat="role in user.roles">{{role}}</li>
						</ul>
					</td>
					<td> {{user.email}}  </td>
					<td> {{user.lastModifiedDate}}  </td>
					<td> {{user.lastLgin}}  </td>
					<td> {{statusTranslate(user.status)}} </td>				
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
