<form name="form">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="typeTasksConfirmationController.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
	
		<h4 class="modal-title">
			Excluir tipo de tarefa
		</h4>
	</div>
	<div class="modal-body">
		<p>Você selecionou para excluir: <strong>{{typeTasksConfirmationController.typeTasksElement.fields.Nome}}</strong></p>
		<p>Deseja continuar com essa ação?</p>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="typeTasksConfirmationController.cancel()">
			Cancelar
		</button>
		<button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="typeTasksConfirmationController.delete()">
			<i class="glyphicon glyphicon-trash"></i>
			Excluir
		</button>
	</div>
</form>