.bg-pink {
    background-color: #fce4ec!important;
}

.bg-red {
    background-color: #ef5350!important;
}

.font-red {
    color: #ef5350!important;
}

.font-orange {
    color: #FF9800!important;
}

.font-green {
    color: #4caf50!important;
}

.size-18 {
    font-size: 18px;
}
