<div ng-include="'application/views/templates/header.html'"></div>
<div ng-include="'application/views/templates/aside.html'"></div>

<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Alterar senha</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card">
			<div class="row">
				<div class="col-xs-12 col-md-8">

					<form ng-enter="changePassword()" class="w-50">
						<div class="form-group">
							<label for="psw1">Nova senha</label>
							<input type="password" class="form-control" ng-model="newPassword" id="psw1" required> 
						</div>
						<div class="form-group" id="confirm-password">
							<label for="psw2">Confirme nova senha</label>
							<input type="password" class="form-control" id="psw2" required>
							<button type="button" ng-click="changePassword()" class="btn btn-primary">Alterar senha</button>
						</div>
					</form>
				</div>

				<div class="col-xs-12 col-md-4 password-rules">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Requisitos para senha</h4>
						</div>
						<div class="panel-body password-rules-body">
							<ul class="password-rules">
								<li id="letter">
									<i class="fa fa-times letter" aria-hidden="true"></i>
									<i class="fa fa-check letter" aria-hidden="true"></i>
									Uma letra
								</li>
								<li id="capital">
									<i class="fa fa-times capital" aria-hidden="true"></i>
									<i class="fa fa-check capital" aria-hidden="true"></i>
									Uma letra maiúscula
								</li>
								<li id="lowercase">
									<i class="fa fa-times lowercase" aria-hidden="true"></i>
									<i class="fa fa-check lowercase" aria-hidden="true"></i>
									Uma letra minúscula
								</li>
								<li id="space">
									<i class="fa fa-times space" aria-hidden="true"></i>
									<i class="fa fa-check space" aria-hidden="true"></i>
									Sem espaço
								</li>
								<li id="number">
									<i class="fa fa-times number" aria-hidden="true"></i>
									<i class="fa fa-check number" aria-hidden="true"></i>
									Um caractere numérico
								</li>
								<li id="length">
									<i class="fa fa-times length" aria-hidden="true"></i>
									<i class="fa fa-check length" aria-hidden="true"></i>
									Deve conter no mínimo 8 caracteres
								</li>
								<li id="equal">
									<i class="fa fa-times equal" aria-hidden="true"></i>
									<i class="fa fa-check equal" aria-hidden="true"></i>
									Senhas devem ser iguais
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>