<div class="container-fluid">
	<div class="card">
		<div class="row">
			<div class="col-xs-12">
				<h2>{{'changePassword.title' | translate}}</h2> </div>
			<div class="col-xs-12 col-md-4">
				<form ng-enter="changePassword()"> 
					<div class="form-group">
						<label for="psw1">{{'changePassword.insert' | translate}}:</label>
						<input type="password" class="form-control" ng-model="newPassword" id="psw1" required> </div>
					<div class="form-group" id="confirm-password">
						<label for="psw2">{{'changePassword.confirm' | translate}}:</label>
						<input type="password" class="form-control" id="psw2" required> 
						<button type="button" ng-click="changePassword()"  class="btn btn-primary">{{'changePassword.button' | translate}}</button>	
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-md-push-2 col-md-4 col-ms-pull-2 password-rules">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><strong>{{'changePassword.titleRules' | translate}}</strong></h4></div>
					<div class="panel-body password-rules-body">
						<ul class="password-rules">
							<li id="letter" >
								<i class="fa fa-times letter" aria-hidden="true"></i>
								<i class="fa fa-check letter" aria-hidden="true"></i>
								{{'changePassword.rules.oneLetter' | translate}}
							</li>
							<li id="capital" >
								<i class="fa fa-times capital" aria-hidden="true"></i>
								<i class="fa fa-check capital" aria-hidden="true"></i>
								{{'changePassword.rules.capitalLetter' | translate}}
							</li>
							<li id="lowercase" >
								<i class="fa fa-times lowercase" aria-hidden="true"></i>
								<i class="fa fa-check lowercase" aria-hidden="true"></i>
								{{'changePassword.rules.lowerCase' | translate}}
							</li>
							<li id="space" >
								<i class="fa fa-times space" aria-hidden="true"></i>
								<i class="fa fa-check space" aria-hidden="true"></i>
								{{'changePassword.rules.noSpace' | translate}}
							</li>
							<li id="number" >
								<i class="fa fa-times number" aria-hidden="true"></i>
								<i class="fa fa-check number" aria-hidden="true"></i>
								{{'changePassword.rules.oneNumber' | translate}}
							</li>
							<li id="length" >
								<i class="fa fa-times length" aria-hidden="true"></i>
								<i class="fa fa-check length" aria-hidden="true"></i>
								{{'changePassword.rules.minLength' | translate}}
							</li>
							<li id="equal" >
								<i class="fa fa-times equal" aria-hidden="true"></i>
								<i class="fa fa-check equal" aria-hidden="true"></i>
								{{'changePassword.rules.passwordMatch' | translate}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>