<div ng-include="'application/views/templates/header.html'"></div>
<div ng-include="'application/views/templates/aside.html'"></div>
<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Tarefas</h2>
			</div>
			<div class="col-xs-12 col-sm-6" ng-if="isAdmin()">
				<button class="btn btn-primary btn-add" data-ng-click="tasksCtrl.openModal()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span class="btn-add--text">Cadastrar tarefa</span>
				</button>
			</div>
		</div>
	</div>

	<section>
		<div class="container">

			<div class="card">

				<div class="table-responsive">
					<table datatable="ng" dt-column-defs="dtColumnDefs" dt-options="dtOptions" class="table table-striped">
						<thead>
							<tr>
								<th>Ação</th>
								<th>Projeto</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Responsável</th>
								<th>Descricao</th>
								<th>Data Inicial</th>
								<th>Data Final</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Ação</th>
								<th>Projeto</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Responsável</th>
								<th>Descricao</th>
								<th>Data Inicial</th>
								<th>Data Final</th>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="task in tasks">
								<td>
									<button class="btn btn-default btn-circle" uib-tooltip="Editar" ng-click="tasksCtrl.openModal(task)">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</button>
									<button  ng-if="isAdmin()" class="btn btn-default btn-circle" uib-tooltip="Excluir" ng-click="tasksCtrl.openModalConfirmation(task)">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</button>
								</td>
								<td>{{task.fields.Projeto}}</td>
								<td>{{task.fields.Nome}}</td>
								<td>{{task.fields.Tipo}}</td>
								<td>{{task.fields.Responsavel}}</td>
								<td>{{task.fields.Descricao}}</td>
								<td>{{task.fields["Data Inicial"]}}</td>
								<td>{{task.fields["Data Final"]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>

</main>