.btn {
	transition: all 0.2s ease;
	text-transform: uppercase;
	font-weight: bold;
	border-width: 2px;
	padding: 5px 12px; // COLORS
	&.btn-success {
		border-color: #5cb85c;
		&:hover {
			background-color: #FFF;
			color: #5cb85c;
		}
	}
	&.btn-primary {
		background-color: $green;
		border-color: $green;
	} // END - COLORS
	// STATES
	&:active,
	&:focus {
		outline: none !important;
	} // END - STATES
	&.btn-icon {
		i {
			padding-right: 6px;
		}
	} // BTN WIDTH
	&.btn-lg {
		font-size: 16px;
		padding: 8px 16px;
		&.btn-icon {
			i {
				padding-right: 10px;
			}
		}
	} // END - BTN WIDTH
	&.btn-circle {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 0;
		text-align: center;
		font-size: 14px;
		border: none;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
		i {
			padding: 0;
		}
	}
}

.btn-action .btn+.btn {
	margin-left: 14px;
}

.btn-default {
	color: #333;
	background-color: #fff;
}

.btn-add {
    border-radius: 50%;
    box-shadow: 1px 0 4px 1px #a5a5a5;
    bottom: 50px;
    height: 50px;
    padding: 10px;
	position: fixed;
    right: 25px;
    width: 50px;
    z-index: 3;
	.btn-add--text{
		display: none;
	}
	@media(min-width: 768px) {
		bottom: 25px;
	}
	@media(min-width: 1024px) {
		float: right;
		border-radius: 5px;
		box-shadow: 0 0 0 0 #a5a5a5;
		bottom: 0px;
		float: right;
		height: auto;
		margin-bottom: 10px;
		margin-top: 20px;
		position: relative;
		padding: 10px;
		right: 0;
		transition: background-color ease 0.5s;
		width: auto;
		z-index: 3;

		.btn-add--text{
			display: inline-block;
		}
	}
	&:hover {
		background-color: darken($primary, 5%);
	}
}

.btn-create {
	margin-bottom: 10px;
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.btn-create {
		float: right;
	}
}

.btn-search {
	border: 2px solid #e6e6e6;
}