.btn {
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 2px;
  padding: 5px 12px;
  // COLORS
  &.btn-success {
    border-color: #5cb85c;
    &:hover {
      background-color: #FFF;
      color: #5cb85c;
    }
  }
  &.btn-primary {
    background-color: $green;
    border-color: $green;
    &:hover {
      background-color: #FFF;
      color: $green;
    }
    &.active {
      border-color: $green;
    }
  }

  // END - COLORS
  // STATES
  &:active,
  &:focus {
    outline: none !important;
  }
  // END - STATES
  &.btn-icon {
    i {
      padding-right: 6px;
    }
  }
  // BTN WIDTH
  &.btn-lg {
    font-size: 16px;
    padding: 8px 16px;
    &.btn-icon {
      i {
        padding-right: 10px;
      }
    }
  }
  // END - BTN WIDTH
  &.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    i {
      padding: 0;
    }
  }
}

.btn-action .btn + .btn {
  margin-left: 14px;
}

.btn-default {
    color: #333;
    background-color: #fff;
}

.btn-add {
  position: absolute;
  right: 16px;
  top: -5px;
  @media(min-width: $screen-tablet-min) {
    top: 4px;
  }
}

.btn-create {
  margin-bottom: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .btn-create {
    float: right;
  }
}

.btn-search{
  border: 2px solid #e6e6e6;
}