.card-table {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 8px; 
    i {
        color: #737373;
        vertical-align: middle;
    }
    .card-header {
        align-items: end;
        display: flex;
        flex-flow: row;
        width: auto;
        padding: 14px;
        .title {
            color: #333333;
            font-size: 18px;
            padding: 0;
        }
        .status {
            border-radius: 20px;
            color: #fff;
            font-size: 11px;
            margin-left: auto;
            padding: 0px 10px;
            
            &.default {
                background-color : #aaaaaa;
            }
            &.blocked {
                background-color: #F44336;
            }
            &.confirm {
                background-color: #4CAF50;
            }
            &.waiting {
                background-color: #FF9800;
            }
        }
        .subtitle {
            color: #737373;
            display: block;
            font-weight: 300;
            margin: 0;
            position: relative;
            top: 4px;
        }
    }
    .card-body {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 14px 14px;
        .user-info {
            color : #333333;
            float: left;
            margin: 0;
            padding: 8px 8px 0 8px;
            width: 50%;
            @media (min-width: $screen-tablet-min) {
                padding: 10px 0 0 10px;
                width: 50%;
            }
            .user {
                color: #000;
                i {
                    margin-right: 5px;
                }
            }
            .name {
                color: #737373;
                font-size: 12px;
                position: relative;
                top: -5px;
                @media (min-width: $screen-tablet-min) {
                    font-size: 11px;
                }
            }
            .date {
                color: #737373;
                font-size: 12px;
                position: relative;
                top: -10px;
                @media (min-width: $screen-tablet-min) {
                    font-size: 11px;
                }
            }
        }
        .info-card {
            margin: 0;
            padding: 0;
            .user {
                color: #000;
                i {
                    margin-right: 5px;
                }
            }
            .information {
                color: #737373;
                display: block;
                font-size: 12px;
                position: relative;
                @media (min-width: $screen-tablet-min) {
                    font-size: 11px;
                }
            }
        }
    }
    >.action {
        align-content: center;
        border-top: 1px solid #eee;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        
        a {
            &:hover {
                background-color : #f5f5f5;
            }
        }
        
        .icons {
            color: #002142;
            font-size: 1.2em;
            padding: 8px;
        }
    }
}