<form name="form" novalidate data-ng-submit="save()">
    <div class="modal-header">
        <h2 class="modal-title">
            {{ (organizationModal.id == null ? 'common.insert' : 'common.edit') | translate }} {{'header.organization.title' | translate}}
        </h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label><strong>{{'organization.organization' | translate}}</strong></label>
                <input name="name" type="text" placeholder="{{'organization.organization' | translate}}" data-ng-model="organizationModal.name" maxlength="50" class="form-control" autofocus="autofocus" required>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label><strong>{{'organization.initials' | translate}}</strong></label>
                <input name="initials" type="text" placeholder="{{'organization.initials' | translate}}" data-ng-model="organizationModal.initials" maxlength="20" class="form-control" required>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label><strong>{{'organization.regional' | translate}}</strong></label>
                <input name="regional" type="text" placeholder="{{'organization.regional' | translate}}" data-ng-model="organizationModal.regional" maxlength="50" class="form-control" required>
            </div>
			<div class="form-group col-xs-12 col-md-6">
				<label><strong>{{'organization.zipCode' | translate}}</strong></label>
				<input name="zipCode" type="tel" mask="99999-999" restrict="reject" placeholder="{{'organization.zipCode' | translate}}" data-ng-model="organizationModal.address.zipCode" class="form-control" required>
            </div>
            <div class="form-group col-xs-12">
                <label><strong>{{'organization.state' | translate}}</strong></label>
		        <ui-select id="stateFilter" data-ng-model="selected.value">
				    <ui-select-match>
				        <span ng-bind="$select.selected.estado"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="state in (states | filter: $select.search)">
				        <span ng-bind="state.estado"></span>
				    </ui-select-choices>
				</ui-select>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label><strong>{{'organization.street' | translate}}</strong></label>
                <input name="street" type="text" placeholder="{{'organization.street' | translate}}" data-ng-model="organizationModal.address.street" maxlength="255" class="form-control" required>
            </div>
            <div class="form-group col-xs-12 col-md-3">
                <label><strong>{{'organization.number' | translate}}</strong></label>
                <input name="number" type="tel" placeholder="{{'organization.number' | translate}}" data-ng-model="organizationModal.address.number" maxlength="10" class="form-control" mask="9?9?9?9?9?9" restrict="reject" required>
            </div>
            <div class="form-group col-xs-12 col-md-3">
                <label><strong>{{'organization.complement' | translate}}</strong></label>
                <input name="complement" type="text" placeholder="{{'organization.complement' | translate}}" data-ng-model="organizationModal.address.complement" maxlength="50" class="form-control">
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label><strong>{{'organization.district' | translate}}</strong></label>
                <input name="district" type="text" placeholder="{{'organization.district' | translate}}" data-ng-model="organizationModal.address.district" maxlength="255" class="form-control" required>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label><strong>{{'organization.city' | translate}}</strong></label>
                <input name="city" type="text" placeholder="{{'organization.city' | translate}}" data-ng-model="organizationModal.address.city" maxlength="255" class="form-control" required>
            </div>
            <div class="form-group" ng-show="organizationModal.id == null">
            	<div class="col-xs-12 col-md-6">
					<label><strong>{{'organization.phone' | translate}} 1</strong></label>
					<input type="tel" ng-model="organizationModal.phones[0].number" class="form-control" mask="(99) 9?9999-9999" restrict="reject" required>
				</div>
				<div class="col-xs-12 col-md-6">
					<label><strong>{{'organization.type' | translate}}</strong></label>
					<select	ng-model="organizationModal.phones[0].type" class="form-control" required>
						<option ng-repeat="type in phoneType" value="{{type.value}}">{{type.description | translate}}</option>
					</select>
				</div>
			</div>
        </div>
        <div class="row extra-field">
            
			<div ng-repeat="item in organizationModal.id == null ? inputs : organizationModal.phones" ng-animate="animate">
                <hr>
				<div class="form-group col-xs-12 col-md-6">
					<label><strong>{{'organization.phone' | translate}} {{organizationModal.id == null ? $index+2 : $index+1}}</strong></label>
					<a ng-click="removePhone($index)" ng-show="canRemovePhone($index)" class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
					<input type="tel" ng-model="organizationModal.phones[$index+1].number" class="form-control" ng-show="organizationModal.id == null" mask="(99) 9?9999-9999" restrict="reject" ng-required="organizationModal.id == null ? true : false">
					<input type="tel" ng-model="organizationModal.phones[$index].number" class="form-control" ng-show="organizationModal.id != null" mask="(99) 9?9999-9999" restrict="reject" required>
				</div>
				<div class="form-group col-xs-12 col-md-6">
					<label><strong>{{'organization.type' | translate}}</strong></label>
					<select	ng-model="organizationModal.phones[$index+1].type" class="form-control" ng-show="organizationModal.id == null" ng-required="organizationModal.id == null ? true : false">
						<option ng-repeat="type in phoneType" value="{{type.value}}">{{type.description | translate}}</option>
					</select>
					<select	ng-model="organizationModal.phones[$index].type" class="form-control" ng-show="organizationModal.id != null" required>
						<option ng-repeat="type in phoneType" value="{{type.value}}">{{type.description | translate}}</option>
					</select>
				</div>

			</div>
            <div class="col-xs-12">
                <a href="" class="btn btn-default" ng-click="addPhoneField()"><i class="fa fa-plus" aria-hidden="true"></i>
                    Add phone
                </a>
            </div>
            
            <div class="form-group col-xs-12" ng-init="organizationModal.id == null ? organizationModal.active = 1 : organizationModal.active">
                <label class="control-label input-group"><strong>{{'organization.status' | translate}}</strong></label>
                <label class="radio-inline">
                    <input ng-value="1" type="radio" ng-model="organizationModal.active">
                        {{'common.active.vTrue' | translate}}
                </label>
                <label class="radio-inline">
                    <input ng-value="0" type="radio" ng-model="organizationModal.active">
                        {{'common.active.vFalse' | translate}}
                </label>
            </div>
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">
            {{ 'button.cancel' | translate }}
        </button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" data-ng-disabled="form.$invalid">
            {{ 'button.save' | translate }}
        </button>
    </div>    
</form>