    <div class="modal-header">
        <h4 class="modal-title">
            {{userModal.fields.Nome}} {{userModal.fields.Sobrenome}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="user-info">
            <figure>
                <img ng-src="{{userModal.fields['Foto Perfil']}}" alt="">
            </figure>
            <div class="personal-info">
                <span class="name">{{userModal.fields.Nome}} {{userModal.fields.Sobrenome}}</span>
                <span class="role">{{userModal.fields.Role}}</span>
                <span class="points">{{userModal.fields.Pontos}} pontos</span>
                <span class="mail">{{userModal.fields['E-mail']}}</span>
            </div>

            <div class="address">
                <h4 class="info-subtitle">Endereço</h4>
                <address>
                    <span>{{userModal.fields['Endereço']}} - {{userModal.fields.Bairro}}</span> <br>
                    <span>{{userModal.fields.CEP}}</span> <br>
                    <span>{{userModal.fields.Cidade}} - {{userModal.fields.UF}}</span>
                </address>
            </div>

            <div class="bank">
                <h4 class="info-subtitle">Dados para Pagamentos</h4>
                <span>CPF: {{userModal.fields['CPF Conta']}}</span> <br>
                <span>Banco: {{userModal.fields['Banco']}}</span> <br>
                <span>Ag: {{userModal.fields['Agência']}} - CC: {{userModal.fields['Conta Corrente']}} </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">
            Fechar
        </button>
    </div>