<aside id="sidebar" ng-controller="AsideCtrl">
	<ul class="sidebar-menu">

		<li class="sidebar-logo">
			<svg class="icon icon-chameleon"><use xlink:href="#icon-chameleon"></use></svg>
		</li>

		<li ng-class="selectedMenu(field)" ng-repeat="field in navbarFields" ng-if="field.admin">
			<a ng-href="#/{{field.route}}" >
				<span class="sidebar-link">
					<i class="fa {{field.icon}} sidebar-user-icon" aria-hidden="true"></i>
					<span class="sidebar-fieldname">{{field.name}}</span>
				</span>
			</a>
		</li>
		
		<li class="sidebar-user sidebar-links hidden-md hidden-lg">
			<a ng-click="logout()">
				<span class="sidebar-link">
					<i class="fa fa-sign-out sidebar-user-icon" aria-hidden="true"></i>
					<span class="sidebar-fieldname">Logout</span>
				</span>
			</a>
		</li>

	</ul>
</aside>