<aside id="sidebar" ng-controller="AsideCtrl">
	<ul class="sidebar-menu">
		<a ng-href="#/{{field.route}}" ng-repeat="field in navbarFields">
			<li ng-class="selectedMenu(field)">
				<span class="sidebar-link">
					<i class="fa {{field.icon}} sidebar-user-icon" aria-hidden="true" ></i>
					<span class="sidebar-fieldname">{{field.name}}</span>
				</span>
			</li>
		</a>
		<a ng-click="logout()" class="hidden-md hidden-lg">
			<li class="sidebar-user sidebar-links">
				<span class="sidebar-link">
					<i class="fa fa-sign-out sidebar-user-icon" aria-hidden="true" ></i>
					<span class="sidebar-fieldname">Logout</span>
				</span>
			</li>
		</a>

	</ul>
</aside>