<aside id="sidebar" class="" ng-controller="AsideCtrl">
	<ul class="sidebar-menu">
		<li class="sidebar-dropdown sidebar-user hidden-md hidden-lg">
			<span class="sidebar-link collapsed capitalize" data-toggle="collapse" data-target="#sidebar-user" aria-expanded="false">
			  <i class="fa fa-user-circle-o sidebar-user-icon" aria-hidden="true"></i>
                  {{actualUser.userName}}
            </span>
			<ul id="sidebar-user" class="sidebar-submenu collapse" aria-expanded="false" style="height: 0px">
				<li>
					<a href="" class="sidebar-submenu-link">
                		{{'header.user.edtUser' | translate}}
                    </a>
				</li>
				<li>
					<a href="#/change-password" class="sidebar-submenu-link">
                		{{'header.user.edtPassword' | translate}}
                    </a>
				</li>
			</ul>
		</li>
		
		<a ng-href="#/{{field.route}}" ng-repeat="field in navbarFields" uib-tooltip="{{field.name}}">
			<li ng-class="selectedMenu(field)">
				<span class="sidebar-link">
					<i class="fa {{field.icon}} sidebar-user-icon" aria-hidden="true" ></i>
					<span class="sidebar-fieldname">{{field.name}}</span>
				</span>
			</li>
		</a>
		
	</ul>
</aside>