<div data-ng-show="pageController.pagination.items().length">
    <ul class="pagination table-pagination">
        <li class="first" data-ng-class="{disabled: !pageController.pagination.hasPrevious()}" aria-disabled="true" data-ng-click="pageController.pagination.previous()">
            <a data-page="first" class="button">
			    <i class="glyphicon glyphicon-chevron-left"></i>
			</a>
        </li>
        <li data-ng-repeat="i in pageController.pagination.getPages()" class="page-{{i}}" data-ng-class="{active: pageController.pagination.isPageActive(i)}"
            aria-disabled="false" aria-selected="true">
            <a data-page="{{i}}" data-ng-click="pageController.pagination.page(i)" class="button">{{i}}</a>
        </li>
        <li class="last" data-ng-class="{disabled: !pageController.pagination.hasNext()}" aria-disabled="false">
            <a data-page="last" class="button" data-ng-click="pageController.pagination.next()">
                <i class="glyphicon glyphicon-chevron-right"></i>
			</a>
        </li>
    </ul>
</div>

<div class="table-pagination-info" ng-show="!pageController.pagination.totalOfRecords()">
    <p>{{'common.noRecordsFound' | translate}}</p>
</div>
<div class="table-pagination-info" ng-show="pageController.pagination.totalOfRecords()">
    {{'common.totalOfRecords' | translate}} <strong>{{pageController.pagination.totalOfRecords()}}</strong>
    <br/> {{filterData.page}}
</div>