<div ng-include="'application/views/templates/header.html'"></div>
<div ng-include="'application/views/templates/aside.html'"></div>
<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Usuários</h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<button class="btn btn-primary btn-create" data-ng-click="pacienteCtrl.openModal()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					Cadastrar usuário
				</button>
			</div>
		</div>
	</div>

	<section>
		<div class="container">

			<div class="card">

				<div class="table-responsive">
					<table datatable="ng" dt-column-defs="dtColumnDefs" dt-options="dtOptions" class="table table-striped">
						<thead>
							<tr>
								<th>Ação</th>
								<th>Nome</th>
								<th>CPF</th>
								<th>Telefone</th>
								<th>E-mail</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Ação</th>
								<th>Nome</th>
								<th>CPF</th>
								<th>Telefone</th>
								<th>E-mail</th>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="user in users">
								<td>
									<button class="btn btn-default btn-circle" uib-tooltip="Editar" ng-click="pacienteCtrl.openModal(patient)">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</button>
									<button class="btn btn-default btn-circle" uib-tooltip="Excluir" ng-click="pacienteCtrl.openModalConfirmation(patient)">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</button>
								</td>
								<td>{{user.user.name}}</td>
								<td>{{user.user.cpf}}</td>
								<td>{{user.user.contactDetails.phone}}</td>
								<td>{{user.user.contactDetails.email}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>

</main>