<form name="form" novalidate data-ng-submit="save()">
	<div class="modal-header">
		<h2 class="modal-title col-xs-9">
			{{ (demandModal.id == null ? 'common.insert' : 'common.update') | translate }} {{'header.demand.title' | translate}}
		</h2>
		<button type="button" class="close col-xs-3 text-right" data-ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="form-group col-xs-12">
				<label><strong>{{'demand.demand' | translate}}</strong></label>
				<input type="text" placeholder="{{'demand.demand' | translate}}" data-ng-model="demandModal.demandDesc" maxlength="50" ng-maxlength="50"
				 class="form-control" required autofocus="autofocus">
			</div>
			<div class="form-group col-xs-12">
				<label><strong>{{'demand.initial' | translate}}</strong></label>
				<input type="text" placeholder="{{'demand.initial' | translate}}" data-ng-model="demandModal.initials" maxlength="20" ng-maxlength="20"
				 class="form-control" required>
			</div>
			<div class="form-group col-xs-12 col-md-9">
				<label><strong>{{'demand.divisionType' | translate}}</strong></label>
				<select class="form-control" ng-model="demandModal.division.id" ng-options="item.id as item.name for item in divisionList"></select>
			</div>
			<div class="form-group col-xs-3">
				<label><strong>{{'demand.alert' | translate}}</strong></label>
				<input type="text" placeholder="{{'demand.alert' | translate}}" data-ng-model="demandModal.deadline" mask="9?9?9?9" restrict="reject" 
				 class="form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12" ng-init="demandModal.id == null ? demandModal.active = 1 : demandModal.active">
				<label class="control-label input-group"><strong>{{'demand.status' | translate}}</strong></label>
				<label class="radio-inline">
				<input ng-value="1" type="radio" ng-model="demandModal.active">
					{{'common.active.vTrue' | translate}}
				</label>
				<label class="radio-inline">
					<input ng-value="0" type="radio" ng-model="demandModal.active">
						{{'common.active.vFalse' | translate}}
				</label>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">
	        {{ 'button.cancel' | translate }}
	    </button>
		<button type="submit" class="btn btn-primary" data-dismiss="modal" data-ng-disabled="form.$invalid">
	        {{ 'button.save' | translate }}
	    </button>
	</div>
</form>