.main {
    z-index: 2;
    .login-form {
        color: #424242;
        padding: 0 15px;

        .login-title{
            margin: 0 0 36px;
            padding: 0 15%;
        }
    }
    .full-height {
        min-height: calc(100vh);
    }
    .login-logo {
        background-image: url('../img/bg-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        .login-content {
            bottom: 25%;
            color: white;
            left: 48px;
            position: absolute;
            text-shadow: 1px 1px black;
        }
    }
    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .form-group {
        @media screen and (min-width: 768px) {
            padding: 0 15%;
        }
        .form-control {
            height: 50px;
        }
        .input-group-addon {
            background-color: #fff;
        }
    }
    input[type="submit"] {
        background-color: $green;
        border: 0px solid #fff;
        border-radius: 3px;
        color: #eee;
        display: block;
        font-weight: bold;
        height: 50px;
        margin: 8px auto;
        opacity: 1;
        transition: background-color 1s, color .5s;
        text-transform: uppercase;
        width: 100%;
        @media screen and (min-width: 768px) {
            transition: background-color 1s, color .5s;
            width: 70%;
            &:hover {
                background-color: darken($green, 5%);
                border-color: transparent;
                color: #fff;
            }
        }
        &:disabled{
            background-color: darken($primary, 10%);
        }
    }
    .form-box {
        align-items: center;
        box-shadow: 1px 0px 30px 1px rgba(0, 0, 0, 0.53);
        display: flex;
        flex-flow: row;
        z-index: 2;
        .help-block {
            color: #a94442;
        }
        .form-group {
            margin-bottom: 8px;
            width: 100%;
            .input-group {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main {

        .forget-password {
            color: #fff;
            padding: 9px 0;
            text-align: center;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
        .form {
            a {
                color: #fff;
                font-weight: bolder;
            }
        }
    }
}
