.VYMape {
    display: none;
    @media screen and (min-width: 1024px) {
        background: #fff;
        bottom: 0;
        direction: ltr;
        display: block;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

.main {
    z-index: 2;
    .login-form {
        color: #424242;
        padding: 0 15px;
    }
    .full-height {
        min-height: calc(100vh);
    }
    .login-logo {
        background-color: $primary;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .img-flag-login {
        cursor: pointer;
        width: 30px;
        margin: 10px 5px;
    }

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .form-group {
        @media screen and (min-width: 768px) {
            padding: 0 25%;
        }

        .form-control {
            height: 50px;
            @media screen and (min-width: 768px) {
            }
        }

    }

    input[type="submit"] {
        background-color: $green;
        border: 0px solid #fff;
        border-radius: 3px;
        color: #eee;
        display: block;
        font-weight: bold;
        height: 50px;
        margin: 8px auto;
        opacity: 1;
        transition: background-color 1s, color .5s;
        text-transform: uppercase;
        width: 100%;
        @media screen and (min-width: 768px) {
            transition: background-color 1s, color .5s;
            width: 50%;
            &:hover {
                background-color: darken($green, 5%);
                border-color: transparent;
                color: #fff;
            }
            
        }
    }

    .form-box {
        align-items: center;
        box-shadow: 1px 0px 30px 1px rgba(0, 0, 0, 0.53);
        display: flex;
        flex-flow: row;
		z-index: 2;
        .alert-danger {
            background-color: transparent;
            border-color: #ebccd1;
            color: #a94442;
            margin: 8px 0;
        }
        .form-group {
            margin-bottom: 8px;
            .input-group {
                margin: 0 auto;
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .main {
        .form-box {
            .alert-danger {
                background-color: #f2dede;
                border-color: #ebccd1;
                color: #a94442;
                float: none;
                margin: 8px auto;
                width: 50%;
            }
            .form-group {
                margin-bottom: 8px;
            }
        }

        .forget-password {
            color: #fff;
            padding: 9px 0;
            text-align: center;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
        .form {
            a {
                color: #fff;
                font-weight: bolder;
            }
        }
    }
}
