<div ng-include="'application/views/templates/header.html'"></div>
<div ng-include="'application/views/templates/aside.html'"></div>
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>{{'header.pendency.title' | translate}}</h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<button class="btn btn-primary btn-create" data-ng-click="pendencyCtrl.openModal()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					{{ 'common.insert' | translate }} {{ 'header.pendency.title' | translate }}
				</button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="card">
			<div class="row">
	
				<filter pagecontroller="pendencyCtrl" pagetranslator="pendency.filter."></filter>
				
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th> {{'common.actions' | translate}}</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('id')">{{'pendency.id' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['id']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											{{'pendency.alert' | translate}}
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('contact.fullName')">{{'pendency.client' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['contact.fullName']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('business.name')">{{'pendency.business' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['business.name']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('division.name')">{{'pendency.division' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['division.name']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('modality.name')">{{'pendency.modality' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['modality.name']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('demand.demandDesc')">{{'pendency.demand' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['demand.demandDesc']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('summary')">{{'pendency.summary' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['summary']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('organization.name')">{{'pendency.organization' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['organization.name']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('process')">{{'pendency.process' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['process']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('prevision')">{{'pendency.prevision' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['prevision']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('status')">{{'pendency.status.status' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['status']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('deadline')">{{'pendency.deadline' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['deadline']]" aria-hidden="true"></i>
											</a>
										</th>
										<th>
											<a ng-click="pendencyCtrl.pagination.setSortColumn('responsible.fullName')">{{'pendency.responsible' | translate}}
												<i ng-class="{true:'fa fa-angle-down', false:'fa fa-angle-up'}[pendencyCtrl.pagination.getListSortItens()['responsible.fullName']]" aria-hidden="true"></i>
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-toggle="modal" data-target="#myModal" ng-repeat="pendency in pendencyCtrl.pagination.items()" >
										<td class="nowrap">
											<button class="btn btn-default btn-circle" uib-tooltip="{{'button.show' | translate}}"  data-ng-click="pendencyCtrl.openModalConfirmation(demand)"> 
												<i class="fa fa-search" aria-hidden="true"></i>
											</button>
											<button class="btn btn-default btn-circle" uib-tooltip="{{ 'button.edit' | translate }}" data-ng-click="pendencyCtrl.openModal(demand)">
					                            <i class="glyphicon glyphicon-pencil"></i>
					                        </button>
											<button class="btn btn-default btn-circle" uib-tooltip="{{'button.draft' | translate}}"  data-ng-click="pendencyCtrl.openModalConfirmation(demand)"> 
												<i class="fa fa-pencil-square-o size-18" aria-hidden="true"></i>
											</button>
										</td>
										<td> {{pendency.id}}</td>
										<td class="text-center nowrap"> 
											<i class="fa fa-arrow-up size-18 " ng-show="pendency.pendencyAlert.priority==1" uib-tooltip="{{'pendency.filter.pendencyAlert.priority' | translate}}"></i>
											<i class="fa fa-expand size-18 " ng-show="pendency.pendencyAlert.extended==1" uib-tooltip="{{'pendency.filter.pendencyAlert.extended' | translate}}"></i>
											<i class="fa fa-chain-broken size-18 " ng-show="pendency.pendencyAlert.signifChange==1" uib-tooltip="{{'pendency.filter.pendencyAlert.signifChange' | translate}}"></i>
											<i class="fa fa-flag size-18 " ng-show="pendency.pendencyAlert.techUnvbl==1" uib-tooltip="{{'pendency.filter.pendencyAlert.techUnvbl' | translate}}"></i>
										</td>
										<td> {{pendency.contact.fullName}}</td>
										<td> {{pendency.business.name}}</td>
										<td> {{pendency.division.name}}</td>
										<td> {{pendency.modality.name}}</td>
										<td> {{pendency.demand.demandDesc}}</td>
										<td> {{pendency.summary}}</td>
										<td> {{pendency.organization.name}}</td>
										<td> {{pendency.process}}</td>
										<td ng-class="columnColorPrevision(pendency)"> {{pendency.prevision}}</td>
										<td class="text-center">
											<i class="{{pendency.statusEnum.statusClass}} size-18" aria-hidden="true" uib-tooltip="{{pendency.statusEnum.desc | translate}}"></i>
										</td>
										<td ng-class="columnColorDeadline(pendency)"> {{pendency.deadline}}</td>
										<td> {{pendency.responsible.fullName}}</td>
									</tr>
								</tbody>
							</table>
	
							<pagination pagecontroller="pendencyCtrl"></pagination>
	
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
</main>